@using Sitecore.Data.Items;
@using Sitecore.Feature.Urban
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="col-md-9 col-centered">
  @foreach (Item item in Model.Item.Children)
  {
  <h2>@Html.Sitecore().Field(Templates.Content.Fields.Title,item)</h2>
    @Html.Sitecore().Field(Templates.Content.Fields.Image, item, new { w = 832, h = 569 })
    @Html.Sitecore().Field(Templates.Content.Fields.Discription, item)
  }
</div>
