
@model Sitecore.Mvc.Presentation.RenderingModel
<title>
  Dubai Design District | Business Partners
</title>

<script src="~/Script/Parent.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<ul class="partners-filterList" data-selected-index="0">
  <li class="partners-filterListItem " data-value="All">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('All'); return false;">ALL</a>
  </li>
  <li class="partners-filterListItem " data-value="A">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('A'); return false;">A</a>
  </li>
  <li class="partners-filterListItem " data-value="B">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('B'); return false;">B</a>
  </li>
  <li class="partners-filterListItem " data-value="C">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('C'); return false;">C</a>
  </li>
  <li class="partners-filterListItem " data-value="D">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('D'); return false;">D</a>
  </li>
  <li class="partners-filterListItem " data-value="E">
    <a href="javascrpt:void(0);" class="partners-filterListItemButton" onclick="getPartners('E'); return false;">E</a>
  </li>
</ul>
