@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var item = Model.Item;
}
<title>
  Dubai Design District | UAE Design Stories: The Next Generation from The Emirates
</title>
<div class="col-md-12 col-centered">
@Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary)
</div>