@using Sitecore.Feature.PageContent
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var item = Model.Item;
}

<p class="about-text">
  @Html.Sitecore().Field(Templates.HasPageContent.Fields.Summary, Model.Item)
</p>
@if (item[Templates.HasPageContent.Fields.Link] != "")
{
  <p>
    <a href="@item.LinkFieldUrl(Templates.HasPageContent.Fields.Link)" class="btn-link">@Html.Sitecore().Field(Templates.HasPageContent.Fields.Title, Model.Item)</a>
  </p>
}