@using Sitecore.Feature.D3Identity
@model Sitecore.Mvc.Presentation.RenderingModel

<p>Call <a href="tel:+@Html.Sitecore().Field(Templates.Identity.Fields.OrganisationPhone, identity)">@Html.Sitecore().Field(Templates.Identity.Fields.OrganisationPhone, identity)</a></p>