<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="partners_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">Sitecore.Demo.D3_Partners_web</param>

            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />

            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">

              <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">

                <indexAllFields>true</indexAllFields>

                <!-- Included fields -->
                <!--<include hint="list:AddIncludedField">
                  <contentheading>{F67BFC64-06D7-4FD1-9D3E-332FBCECA609}</contentheading>
                  <ContentIntro>{7C9ABAE7-B2E1-4D31-A778-6CA6A7328B44}</ContentIntro>
                  <StartDate></StartDate>
                  
                </include>-->

                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <PartnersList>{C4397EAF-8B80-470D-A860-4DE622CEFB3C}</PartnersList>

                </include>

              </documentOptions>

            </configuration>

            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>

            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
                  <Limit>300</Limit>
                </policy>
              </policies>
            </commitPolicyExecutor>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/Home/Partners</Root>
              </crawler>
            </locations>

            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>

          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>