@using Sitecore.Feature.ContactUs
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

<p style="text-align: center">
  @Html.Sitecore().Field(Templates.ContactUs.Fields.Info, Model.Item)
</p>

