<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <title>
    Dubai Design District 
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Welcome to the Dubai Design District. Home to designers, artists and creative thinkers.">
  <meta property="og:title" content="Dubai Design District | Homepage">
  <meta property="og:image" content="images/og-image.jpg">
  <meta property="og:image:height" content="1257">
  <meta property="og:image:width" content="2400">
  <meta property="og:description" content="Welcome to the Dubai Design District. Home to designers, artists and creative thinkers.">

  <meta name="format-detection" content="telephone=no">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon_2.png">
  <link rel="icon" type="image/png" href="favicon/favicon-32x32_2.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicon/favicon-16x16_2.png" sizes="16x16">
  <link rel="manifest" href="favicon/manifest_2.json">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg">
  <link rel="shortcut icon" href="favicon/favicon_2.ico">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ff0000">

  <link rel="stylesheet" href="@Url.Content("~/css/style-ltr_2.css")" />

  <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-795438-34', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '628808157308719', {
    // em: 'insert_email_variable,'
    });
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=628808157308719&ev=PageView&noscript=1" />
  </noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->
</head>
<body>
  <header style="top: 63px;">
    @Html.Sitecore().Placeholder("header")
  </header>
  <main>
    <h1 class="visually-hidden">Dubai Design District</h1>
    <div class="container">
      @Html.Sitecore().Placeholder("main")
    </div>
  </main>
  <footer class="bg-dark">
    @Html.Sitecore().Placeholder("footer")
  </footer>

</body>
</html>