@using Sitecore
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
  <div class="row">
    <div class="col-md-4 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-12">
      @Html.Sitecore().DynamicPlaceholder("col-narrow-1", Model.Rendering.GetUseStaticPlaceholderNames())
    </div>
    <div class="col-md-8 col-xs-12">
      @Html.Sitecore().DynamicPlaceholder("col-wide-1", Model.Rendering.GetUseStaticPlaceholderNames())
    </div>
  </div>
