<div class="container">
  <div class="row">
    <div class="col-xs-12 header-container">
      @Html.Sitecore().Placeholder("logo-header")
      <a class="menu-toggleShowButton">
        <span>Menu</span>
        <span class="icon icon-burger" aria-hidden="true" role="presentation">
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons.svg#icon-burger"></use>
          </svg>
        </span>
      </a>
      <nav class="menu">
        <a href="www_dubaidesigndistrict_default_2.html" class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="130" height="74" viewBox="0 0 130 74" preserveAspectRatio="xMinYMin meet">
            <path fill-rule="evenodd" d="M34.7 50.55c11.3.93 12.57 8.1 12.57 11.23 0 8.04-7.7 12.03-14.5 12.03-4.13 0-7.4-1.6-9.03-4.1h.17c.6 0 1.1.3 1.4.6 1.3 1.4 3.8 2.7 7.4 2.7 7.1 0 9.4-4.9 9.4-11.3C42.1 51 33.7 51 30.5 51h-5v-.9h4.87c6.26 0 10.38-1.7 10.38-8.53 0-4.33-1.57-8.1-6.5-8.1-3.33 0-5.76 1.77-6.6 3-.3.45-.82.7-1.35.7h-.14c1.4-3.14 5.07-4.62 8.67-4.62 6.2 0 10.8 3.7 10.8 8.98 0 7.87-8.47 8.75-10.9 8.97v.1zM5.6 37.78c0 12.38 5.8 12.38 11.76 12.38h4.04v.93h-7.5C2.6 51.1 0 43.4 0 38.1c0-1 0-12.85 13.3-12.97h4.08V4.05c0-2.24 1.8-4.05 4.05-4.05v29.22c0 2.23-1.82 4.04-4.05 4.04V26.1c-4.8 0-11.76.05-11.76 11.68zM32 2.13c3.34 0 4.9 2.4 4.94 4.77v.12c0 1.34-.48 2.6-1.34 3.48-.9.9-2.14 1.38-3.6 1.38h-3.4V2.13H32zm0 8.63c1.12 0 2.07-.36 2.74-1.05.7-.7 1.08-1.7 1.05-2.8-.1-1.8-1.3-3.6-3.8-3.6h-2.3v7.6H32zm14.13-8.63v6c0 2.55-1.9 3.88-3.8 3.88-.98 0-1.9-.3-2.6-.9-.76-.7-1.17-1.7-1.17-2.9v-6h1.13v6c0 .9.2 1.6.8 2.1.5.5 1.1.7 1.8.7 1.3 0 2.6-.9 2.6-2.8v-6H46zm8.5 4.74c.93.45 1.5 1.33 1.5 2.36 0 1.7-1.32 2.65-3.6 2.65h-4.05V2.13h4.04c1.52 0 3.3.73 3.3 2.76 0 .8-.45 1.5-1.18 1.9zm-2.1 3.9c1.63 0 2.46-.53 2.46-1.55-.1-1.63-1.9-1.76-2.4-1.76h-3v3.3h2.9zm0-7.6h-2.9v3.2h3c.94 0 2.07-.27 2.07-1.48 0-1.3-1.17-1.8-2.18-1.8zm9.85-1.04l4.38 9.75h-1.24l-1.03-2.3h-5.3l-1.1 2.3h-1.2l4.4-9.75h1zM59.66 8.5h4.36l-2.18-4.93-2.18 4.93zm9.84 3.38h-1.13V2.13h1.13v9.75zm16.6-4.93v.13c0 1.34-.5 2.6-1.35 3.48-.88.9-2.13 1.38-3.6 1.38h-3.38V2.2h3.38c3.34 0 4.9 2.38 4.95 4.75zm-4.95 3.87c1.12 0 2.08-.36 2.75-1.05.7-.7 1.07-1.72 1.05-2.8-.04-1.83-1.23-3.67-3.8-3.67h-2.23v7.52h2.23zm14.4 0v1.12h-7.03V2.2h6.88v1.1h-5.74v3.2h5.47v1.07h-5.47v3.25h5.9zm9.57-1.56c0 2.62-3 2.83-3.9 2.83-1.43 0-3.23-.6-4.03-2.2l-.1-.2 1-.5.1.2c.5 1 1.9 1.6 3 1.6.8 0 2.7-.2 2.7-1.8 0-1.2-1.2-1.5-2.9-1.8-1.7-.3-3.6-.7-3.6-2.6 0-.7.2-1.3.6-1.8.6-.7 1.8-1.1 3.1-1.1 1.5 0 2.6.3 3.6 1.7l.1.2-1 .5-.1-.2c-.7-1-1.7-1.2-2.7-1.2-.3 0-2.6 0-2.6 1.6 0 1 1 1.3 2.7 1.6h.1c1.8.3 3.8.7 3.8 2.9zm3.55 2.68h-1.13V2.2h1.13v9.74zm11.2-5.3v3.8l-.07.05c-1.05 1-2.28 1.5-3.68 1.5-3.48 0-5.03-2.5-5.03-5-.1-1.5.4-2.8 1.3-3.7.9-.9 2.2-1.4 3.6-1.4 1.3 0 2.6.5 3.5 1.4l.1.1-.7.7-.2-.1c-.7-.8-1.8-1.2-2.9-1.2-1.2 0-2.1.4-2.8 1.1-.7.7-1.1 1.7-1.1 2.8 0 1.8 1 3.9 3.9 3.9 1 0 1.9-.3 2.6-1v-2h-3.3v-1h4.3zM130 2.2v9.74h-.6l-5.98-7.3v7.3h-1.15V2.2h.63l5.97 7.32V2.2H130zM36.94 21.5v.13c0 1.33-.48 2.6-1.34 3.47-.9.9-2.14 1.4-3.6 1.4h-3.4v-9.76H32c3.34 0 4.9 2.4 4.94 4.76zM32 25.4c1.12 0 2.07-.38 2.74-1.06.7-.7 1.08-1.73 1.05-2.8-.1-1.83-1.3-3.68-3.8-3.68h-2.3v7.53H32zm8.46 1.1h-1.14v-9.74h1.14v9.75zm10.4-2.67c0 2.62-3 2.83-3.9 2.83-1.43 0-3.23-.57-4.03-2.15l-.1-.1 1.03-.5.1.2c.52 1.1 1.9 1.6 3 1.6.82 0 2.75-.1 2.75-1.7.1-1.1-1.1-1.4-2.8-1.8-1.7-.3-3.6-.7-3.6-2.6 0-.7.2-1.2.7-1.7.7-.6 1.8-1 3.1-1 1.5 0 2.7.3 3.6 1.7l.1.2-.9.6-.1-.2c-.6-1-1.6-1.1-2.6-1.1-.2 0-2.6.1-2.6 1.7 0 1 1.1 1.3 2.7 1.6h.1c1.8.4 3.8.7 3.8 2.9zm8.82-7.06v1.07H56.3v8.67h-1.14v-8.6h-3.38v-1.1h7.9zm6.6 6.15l3.3 3.6h-1.52l-3.23-3.54H62.6v3.53h-1.16v-9.7h4.33c2.23 0 3.26 1.6 3.28 3.1 0 .9-.3 1.7-.83 2.2-.5.5-1.16.8-1.95.9zm-3.7-5.07v4.02h3.1c1.76 0 2.14-1.1 2.15-2 0-.56-.2-1.08-.56-1.45-.37-.37-.9-.57-1.5-.57H62.6zm10.56 8.66H72v-9.7h1.14v9.8zm10.4-2.2l.8.8-.17.2c-.94 1-2.2 1.5-3.55 1.5-3.45 0-5-2.5-5.02-4.9-.02-1.4.48-2.7 1.4-3.6.9-.9 2.15-1.4 3.62-1.4 1.34 0 2.6.6 3.55 1.5l.16.2-.8.7-.16-.1c-.72-.7-1.7-1.1-2.75-1.1-1.16 0-2.13.4-2.82 1.1-.7.7-1.1 1.8-1.08 2.9.02 1.8 1.06 3.9 3.9 3.9 1.03 0 2.04-.4 2.77-1.1l.1-.1zm10.44-7.5v1.1H90.6v8.7h-1.15v-8.7h-3.37v-1.1h7.9z" />
          </svg>
        </a>
        <a class="menu-toggleHideButton">
          <span>Menu</span>
          <span class="icon icon-close" aria-hidden="true" role="presentation">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons.svg#icon-close"></use>
            </svg>
          </span>
        </a>
        <ul class="menu-nav">
          <li class="menu-navItem">
            @Html.Sitecore().Placeholder("nav-header")
          </li>
        </ul>
        <div class="menu-actions">
          <div class="menu-subscribe">
            <a href="http://www.dubaidesigndistrict.com/subscribe" class="menu-subscribeButton">Subscribe</a>
          </div>
          <div class="menu-liveChat">
            <button id="liveagent_button_online_573w00000008QV2" href="javascript: void(0);" class="btn menu-liveChatButton menu-liveChatButton-online"
                    onclick="liveagent.startChat('573w00000008QV2')">
              Chat To Us
            </button>
            <button id="liveagent_button_offline_573w00000008QV2" href="javascript: void(0);" class="btn menu-liveChatButton menu-liveChatButton-offline"
                    onclick="liveagent.startChat('573w00000008QV2')">
              Offline
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
