@using Sitecore.Feature.Media
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="col-md-6 about-image">
  @Html.Sitecore().ImageField(Templates.HasMediaImage.Fields.Image, Model.Item)
</div>
