@using Sitecore.Feature.Identity
@using Sitecore.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var identity = IdentityRepository.Get(Model.Item);
  if (identity == null)
  {
    return;
  }
}
<p>Call <a href="tel:@Html.Sitecore().Field(Templates.Identity.Fields.OrganisationPhone, identity)">@Html.Sitecore().Field(Templates.Identity.Fields.OrganisationPhone, identity)</a></p>
