@using Sitecore.Feature.Identity
@using Sitecore.Feature.Identity.Repositories
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var identity = IdentityRepository.Get(Model.Item);
  if (identity == null)
  {
    return;
  }
  var startItem = Sitecore.Context.Database.GetItem(Sitecore.Context.Site.StartPath);
  var hasTagline = identity.FieldHasValue(Templates.Identity.Fields.LogoTagLine);
}
<a class="navbar-brand @(hasTagline ? " has-tagline" : "" )" href="@Sitecore.Links.LinkManager.GetItemUrl(startItem)">
  <span class="logo">
    @Html.Sitecore().ImageField(Templates.Identity.Fields.Logo, identity, mw: 130, mh: 74)
    @if (hasTagline)
    {
      <small class="tagline">@Html.Sitecore().Field(Templates.Identity.Fields.LogoTagLine, identity)</small>
    }
  </span>
</a>
