<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.D3" description="D3 content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Feature.Brochure,Project.Common.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sitecore.demo.D3.sourceFolder)\project\D3\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Sitecore.Demo.D3.Renderings" database="master" path="/sitecore/layout/renderings/Project/D3Common" />
            <include name="Sitecore.Demo.D3.Layouts" database="master" path="/sitecore/layout/layouts/Project/D3Common" />
            <include name="Sitecore.Demo.D3.Content" database="master" path="/sitecore/content/D3"/>
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>